.App{
  display: grid;
  place-content: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__components{
  background-color: #ededed;
  /* margin-top: -40px; */
  height: 95vh;
  width: 95vw;
  display: flex;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}